body{
    padding:0;
    margin: 0;
    
}

.heading{
    margin-top: 10px;
    text-align: center;
    background-color: grey;
    margin-bottom: 50px;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
}

.box{
    width: 500px;
    height: 200px;
    background-color:cyan;
    padding: 10px;
}

/* .reverse,.sort1,.sort2,.search{
    display: none;
} */

button{
    border: none;
    border-radius:50%;
    color: black;
    /* background-color:yellow */
    padding: 4px;
}